<mat-toolbar color="primary" class="mat-elevation-z4">
  Litteraturliste-appen
</mat-toolbar>
<div class="reference-container">
  <mat-card class="reference-card">
    <mat-card-header class="card-header">
      <mat-icon mat-card-avatar>book</mat-icon>
      <mat-card-title>Tilføj reference</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <form (keyup.enter)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Title" name="referenceTitle" [(ngModel)]="referenceTitle">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="card-action">
      <button class="submit-button" type="submit" (click)="onSubmit()" mat-button color="primary">Tilføj reference</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="reference-card">
      <mat-card-header class="card-header">
        <mat-icon mat-card-avatar>list</mat-icon>
        <mat-card-title>Litteraturliste</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-list>
          <mat-list-item role="listitem" *ngFor="let reference of referenceList">{{reference}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
</div>